.LightMode-main{
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap:35px;
}
.DarkMode-main{
    height: 100vh;
    width: 100%;
    background-color: rgb(105, 87, 114);
    display: flex;
    flex-direction: row;
    gap:35px;
    color: #FFFFFF;
}
